.themeSwitch {
  position: absolute;
  color: var(--text-color-light);
  right: var(--spacer);
  top: calc(var(--spacer) / 2);
}

.themeSwitch:hover,
.themeSwitch:focus {
  color: var(--link-color);
}

.checkbox {
  position: relative;
  cursor: pointer;
  display: block;
}
