.repo {
  padding: var(--space-m);
  border-radius: var(--border-radius);
  background: var(--background-color-highlight);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-shadow: var(--box-shadow);
}

.repo > * {
  width: 100%;
}

.repo p {
  font-size: var(--fs--1);
}

.repo p:last-child {
  margin: 0;
}

.repoTitle {
  font-size: var(--fs-1);
  margin-bottom: var(--space-xs);
}

.meta {
  font-size: var(--fs--1);
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.meta a {
  display: inline-block;
  color: var(--text-color-light);
  font-variant-numeric: lining-nums;
}

.meta a:hover,
.meta a:focus {
  color: var(--brand-primary);
}

.meta svg {
  width: var(--fs--1);
  height: var(--fs--1);
  margin-right: var(--space-3xs);
  margin-bottom: -0.1rem;
}
