.sectionTitle {
  font-size: var(--fs-2);
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-xl);
  text-align: center;
}

.repos {
  composes: projects from '../../projects/components/Projects/index.module.css';
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
