.projects {
  display: grid;
  gap: calc(var(--spacer) * 2);
}

@media (min-width: 55rem) {
  .projects {
    gap: calc(var(--spacer) * 3);
    grid-template-columns: repeat(
        auto-fill,
        minmax(min-content, calc(50% - (var(--spacer) * 1.5)))
      );
  }
}
