.projects {
  display: grid;
  gap: calc(var(--spacer) * 2);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media (min-width: 55rem) {
  .projects {
    gap: calc(var(--spacer) * 3);
  }
}
