{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:testing-library/dom",
    "plugin:testing-library/react"
  ],
  "plugins": ["react", "graphql", "prettier", "react-hooks", "testing-library"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2020": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "testing-library/no-node-access": "off",
    "testing-library/no-container": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
