{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "syntax": "scss",
  "rules": {
      "indentation": 4,
      "number-leading-zero": "never",
      "no-descending-specificity": null
  }
}
