@import 'variables';

.project {
    .project__image-wrap {
        margin-bottom: $spacer * 3;

        @media (min-width: 30rem) {
            margin-bottom: $spacer * 6;
        }
    }
}

.project__title {
    font-size: $font-size-h2;

    @media (min-width: 30rem) {
        font-size: $font-size-h1;
    }
}

.project__description {
    font-size: $font-size-large;
    color: $brand-grey;
    margin-bottom: $spacer * 3;
}

.project__meta {
    margin-top: $spacer * 5;
    margin-bottom: $spacer * 5;

    @media (min-width: 40rem) {
        display: flex;
        justify-content: space-between;

        > div {
            flex: 0 0 45%;
        }
    }
}

.project__meta__title {
    font-size: $font-size-h3;
    margin-bottom: $spacer * 1.5;

    span {
        display: block;
        margin-top: $spacer / 3;
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $brand-grey-light;
    }
}
