.networks {
  padding-top: var(--spacer);
}

.title {
  display: block;
  font-size: var(--font-size-mini);
  color: var(--brand-grey-light);
  opacity: 0;
  transform: translate3d(0, 0.5rem, 0);
  transition: 0.2s var(--easing);
}

.link {
  margin-left: calc(var(--spacer) / var(--line-height));
  margin-right: calc(var(--spacer) / var(--line-height));
  margin-bottom: calc(var(--spacer) / 2);
  text-align: center;
  display: inline-block;
}

.link svg {
  stroke: var(--brand-grey-light);
  width: 24px;
  height: 24px;
  transition: stroke 0.2s var(--easing);
  will-change: stroke;
}

.link:hover svg,
.link:focus svg {
  stroke: var(--link-color);
}

.link:hover .title,
.link:focus .title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.small {
  composes: networks;
  padding-top: calc(var(--spacer) / 2);
}

.small .link {
  padding: calc(var(--spacer) / 4);
  margin-left: calc(var(--spacer) / 7);
  margin-right: calc(var(--spacer) / 7);
  margin-bottom: calc(var(--spacer) / 4);
}

.small svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
  opacity: 0.8;
}
