.footer {
  padding: var(--spacer);
  padding-top: calc(var(--spacer) * 4);
  text-align: center;
}

.footer,
.footer small {
  font-size: var(--font-size-mini);
}

.footer > aside {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

.actions {
  margin-bottom: 0;
}

.actions a {
  display: inline-block;
  padding: 0 calc(var(--spacer) / 4);
  font-size: var(--font-size-small);
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 2);
  color: inherit;
}

.copyright {
  color: var(--text-color-light);
}
