.resumeItem {
  padding-bottom: calc(var(--spacer) * 3);
  padding-left: var(--spacer);
  position: relative;
  border-left: 0.1rem solid var(--text-color-light);
}

.resumeItem::before {
  content: '';
  display: block;
  width: var(--font-size-mini);
  height: var(--font-size-mini);
  border-radius: 50%;
  background: var(--color-headings);
  border: 0.1rem solid var(--color-headings);
  position: absolute;
  left: -0.4rem;
  top: 0.4rem;
}

.resumeItem:last-child {
  border: none;
}

.resumeItem p:last-child {
  margin-bottom: 0;
}

.title {
  margin-bottom: calc(var(--spacer) / 3);
  font-size: var(--font-size-h4);
}

.subTitle {
  color: var(--text-color-light);
  font-size: var(--font-size-h5);
}

.time {
  display: block;
  margin-bottom: calc(var(--spacer) / 2);
  white-space: nowrap;
  font-style: italic;
}

@media (min-width: 60em) {
  .time {
    text-align: right;
    position: absolute;
    top: -0.3rem;
    right: 105%;
  }
}

@media print {
  .resumeItem {
    padding-bottom: calc(var(--spacer) * 2);
  }

  .time {
    text-align: left;
    position: relative;
    top: auto;
    right: auto;
  }
}
