.screen {
  margin: calc(var(--spacer) * 2) auto 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 55rem) {
  .screen {
    max-width: calc(var(--projectImageMaxWidth) + 10vw);
  }
}
