.themeSwitch {
  position: absolute;
  top: calc(var(--spacer) / 2);
  right: var(--spacer);
  z-index: 10;
}

.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.trigger svg {
  stroke: var(--text-color-light);
  transition: stroke 0.2s ease-in-out;
}

.trigger:hover svg,
.trigger[data-state='open'] svg {
  stroke: var(--text-color);
}

.chevron {
  transition: transform 0.2s ease-in-out;
  transform-origin: center 40%;
}

.chevron svg {
  position: relative;
  top: -0.1rem;
  width: var(--font-size-small);
  height: var(--font-size-small);
}

.trigger[data-state='open'] .chevron {
  transform: rotate(180deg);
}

.content {
  padding: calc(var(--spacer) / 3);
  background-color: var(--box-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--text-color-dimmed);
  animation-duration: 0.2s;
  animation-timing-function: var(--easing);
  will-change: transform, opacity;
}

.content[data-state='open'] {
  animation-name: slideUpAndFade;
}

.arrow {
  fill: var(--text-color-dimmed);
}

@media print {
  .themeSwitch {
    display: none;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
