.themeSwitch {
  position: absolute;
  top: calc(var(--spacer) / 2);
  right: var(--spacer);
  z-index: 10;
}

.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.trigger svg {
  stroke: var(--text-color-light);
  transition: stroke 0.2s ease-in-out;
}

.trigger:hover svg,
.trigger[data-state='open'] svg {
  stroke: var(--text-color);
}

.chevron {
  transition: transform 0.2s ease-in-out;
  transform-origin: center 40%;
}

.chevron svg {
  position: relative;
  top: -0.1rem;
  width: var(--font-size-small);
  height: var(--font-size-small);
}

.trigger[data-state='open'] .chevron {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  padding: calc(var(--spacer) / 3);
  background-color: var(--box-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.item {
  font-size: var(--font-size-small);
  color: var(--text-color);
  position: relative;
  padding: calc(var(--spacer) / 8) var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  user-select: none;
  border-radius: calc(var(--border-radius) / 1.5);
  display: flex;
  align-items: center;
}

.item[data-highlighted] {
  outline: none;
  background-color: var(--text-color);
  color: var(--body-background-color);
  cursor: default;
}

.item span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.itemIndicator {
  position: absolute;
  left: 0;
  width: var(--spacer);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.itemIcon {
  margin-right: calc(var(--spacer) / 4);
}

@media print {
  .themeSwitch {
    display: none;
  }
}
