#toast {
  position: sticky;
  z-index: 10;
  bottom: var(--spacer);
  left: calc(var(--spacer) / 2);
  right: calc(var(--spacer) / 2);
  margin: 0 auto;
  width: fit-content;
  font-size: var(--font-size-small);
  padding: 0;
  animation: animation 0.2s ease-out backwards;
  background: var(--body-background-color);
  border-radius: var(--border-radius);
  border: var(--stroke-width) solid transparent;
  box-shadow: var(--box-shadow);
}

#toast button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: calc(var(--spacer) / 3) var(--spacer);
}

#toast button span {
  color: var(--link-color);
}

@keyframes animation {
  0% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
