@import 'variables';

.resume {
    padding: $spacer;
    display: grid;
    grid-gap: $spacer * 4;
    grid-template-columns: 1fr;

    @media (min-width: $screen-md) {
        grid-template-columns: 1fr 2fr;
        max-width: calc(#{$projectImageMaxWidth} + #{$spacer * 2});
        margin: 0 auto;
        padding: $spacer $spacer * 3;
    }
}

.title {
    font-size: $font-size-h2;
    margin-bottom: $spacer / 4;
}

.label {
    font-size: $font-size-h3;
    color: $brand-grey-light;
    margin-bottom: 0;

    :global(.dark) & {
        color: $brand-grey-dimmed;
    }
}

.contact {
    list-style: none;
    padding: 0;

    li,
    p {
        margin-bottom: $spacer / 4;
    }

    svg {
        stroke: $brand-grey-light;
        margin-right: $spacer / 4;
        margin-bottom: -0.1rem;

        :global(.dark) & {
            stroke: $brand-grey;
        }
    }

    @media (min-width: $screen-md) {
        margin-top: $spacer * 2.25;
    }
}

.subTitle {
    font-size: $font-size-h3;
    margin-bottom: 0;
    margin-top: -($spacer / 3);

    svg {
        width: $font-size-large;
        height: $font-size-large;
        margin-right: $spacer / 4;
        stroke: $brand-grey-light;
    }
}

.languages {
    svg {
        display: inline-block;
    }

    p {
        margin-left: $spacer / 1.1;

        &:first-of-type {
            margin-left: 0;
            display: inline-block;
        }
    }

    span {
        font-size: $font-size-small;
        margin-left: $spacer / 4;
        color: $brand-grey-light;

        :global(.dark) & {
            color: $brand-grey;
        }
    }
}

@media print {
    .resume {
        grid-template-columns: 1fr;
    }

    :global(html) {
        font-size: 10pt;
    }
}
