@import 'variables';

.resumeItem {
    padding-bottom: $spacer * 3;
    padding-left: $spacer;
    position: relative;
    border-left: 0.1rem solid rgba($brand-grey-light, 0.25);

    &::before {
        content: '';
        display: block;
        width: $font-size-mini;
        height: $font-size-mini;
        border-radius: 50%;
        background: $body-background-color;
        border: 0.1rem solid $color-headings;
        position: absolute;
        left: -($font-size-mini / 1.8);
        top: 0.15rem;

        :global(.dark) & {
            background: $body-background-color--dark;
            border-color: $color-headings--dark;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    &:last-child {
        border: none;
    }
}

.title {
    margin-bottom: $spacer / 3;
    font-size: $font-size-h4;
    position: relative;
    top: -($spacer / 6);
}

.subTitle {
    color: $brand-grey-light;
    font-size: $font-size-h5;

    :global(.dark) & {
        color: $brand-grey-dimmed;
    }
}

.time {
    display: block;
    margin-bottom: $spacer / 2;
    white-space: nowrap;
    font-style: italic;

    @media (min-width: $screen-md) {
        text-align: right;
        position: absolute;
        top: -0.3rem;
        right: 105%;
    }
}

@media print {
    .resumeItem {
        padding-bottom: $spacer * 2;
    }

    .time {
        text-align: left;
        position: relative;
        top: auto;
        right: auto;
    }
}
