@import 'variables';

.resumeItem {
    padding-bottom: $spacer * 3;
    padding-left: $spacer;
    position: relative;
    border-left: 1px solid rgba($brand-grey-light, 0.25);

    &::before {
        content: '';
        display: block;
        width: $font-size-small;
        height: $font-size-small;
        border-radius: 50%;
        background: $brand-grey-light;
        position: absolute;
        left: -($font-size-small / 2);
        top: 0.1rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &:last-child {
        border: none;
    }
}

.title {
    margin-bottom: $spacer / 3;
    font-size: $font-size-h4;
    position: relative;
    top: -($spacer / 6);
}

.subTitle {
    color: $brand-grey-light;
    font-size: $font-size-h5;

    :global(.dark) & {
        color: $brand-grey-dimmed;
    }
}

.time {
    display: block;
    margin-bottom: $spacer / 2;
    white-space: nowrap;

    @media (min-width: $screen-md) {
        text-align: right;
        position: absolute;
        top: -0.3rem;
        right: 105%;
    }
}
