@import 'variables';

.projects {
    margin: auto;
}

.project {
    margin-bottom: $spacer * 4;
    min-height: 100vh;
    position: relative;
    background-color: $brand-grey;
}

.project__title {
    margin: 0;
    font-size: $font-size-h2;
    position: absolute;
    bottom: $spacer;
    left: $spacer;
    z-index: 1;
    color: $brand-light;
}

.project__image {
    margin: 0;
}
