.icon {
  width: var(--font-size-base);
  height: var(--font-size-base);
  stroke: currentColor;
  stroke-width: 0.1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: baseline;
}
