@import 'variables';

.content {
    text-align: center;
    height: 100%;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;

    video {
        display: block;
        width: auto;
        height: 300px;
        box-shadow: 0 3px 5px rgba($brand-main, .15),
            0 5px 16px rgba($brand-main, .15);
        margin: $spacer / 4 auto $spacer / 2 auto;
    }
}
