@import 'variables';

.projects {
    @media (min-width: 55rem) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: calc(#{$projectImageMaxWidth} + #{$spacer * 2});
        margin: 0 auto;
        padding: $spacer $spacer * 2;
    }
}

.project {
    flex: 0 0 calc(50% - #{$spacer});
    text-align: center;
    margin-bottom: $spacer * 2;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        display: block;
        position: relative;
        margin: 0 auto;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: transparent;
            transition: background .2s ease-out;
        }

        &:hover,
        &:focus {
            &::after {
                background: rgba($brand-cyan, .05);
            }
        }
    }
}

.title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
