@import 'variables';

.projects__project {
    text-align: center;
    margin-bottom: $spacer * 4;

    @media (min-width: 30rem) {
        margin-bottom: $spacer * 8;
    }

    &:last-child {
        margin-bottom: 0;
    }

    a {
        display: block;
        position: relative;
        margin: 0 auto;

        @media (min-width: $projectImageMaxWidth) {
            max-width: $projectImageMaxWidth;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: transparent;
            transition: background .2s ease-out;
        }

        &:hover,
        &:focus {
            &::after {
                background: rgba($brand-cyan, .05);
            }
        }
    }
}

.projects__project__title {
    visibility: hidden;
    font-size: 0;
    margin: 0;
}
