.projectLinks ul {
  padding: 0;
}

.projectLinks li {
  display: block;
  margin-bottom: calc(var(--spacer) / 2.1);
}

.projectLinks a {
  display: block;
  width: 100%;
  text-transform: none;
  text-align: left;
}

.projectLinks svg {
  stroke: var(--text-color);
}

.title {
  composes: metatitle from '../Project.module.css';
}
