.networks {
  margin-block: var(--space-xl);
  display: flex;
  justify-content: center;
  gap: var(--space-s);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2xs);
  border-radius: var(--border-radius);
  color: var(--brand-grey-light);
  transition: 0.2s ease-out;
  animation: moveInTop var(--spring-duration) var(--spring-easing) backwards;
  animation-delay: calc(
    var(--animation-delay-base, 0.2s) +
    var(--animation-order, 0) *
    var(--animation-delay-step, 0.05s)
  );
}

.link:hover,
.link:focus {
  color: var(--link-color);
  transform: translateY(-0.1rem);
  background-color: var(--border-color);
}

.small {
  margin-block: var(--space-m);
  gap: var(--space-xs);
}

.small svg {
  width: var(--fs-0);
  height: var(--fs-0);
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
