.networks {
  margin-block: calc(var(--spacer) * 2);
  display: flex;
  justify-content: center;
  gap: calc(var(--spacer) * 2);
}

.link {
  display: block;
  color: var(--brand-grey-light);
  transition: color 0.2s var(--easing);
  animation: moveInTop 0.5s ease-out backwards;
  animation-delay: calc(
    var(--animation-delay-base, 0.2s) +
    var(--animation-order, 0) *
    var(--animation-delay-step, 0.05s)
  );
}

.link:hover,
.link:focus {
  color: var(--link-color);
}

.small {
  margin-block: var(--spacer);
  gap: var(--spacer);
}

.small svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
