.content {
  text-align: center;
  height: 100%;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.content video {
  display: block;
  width: auto;
  height: 300px;
  box-shadow:
    0 3px 5px rgba(var(--brand-main), 0.15),
    0 5px 16px rgba(var(--brand-main), 0.15);
  margin: calc(var(--spacer) / 4) auto calc(var(--spacer) / 2) auto;
}
