.header {
  position: relative;
  padding: calc(var(--spacer) / 2);
  padding-top: 30vh;
  min-height: calc(90vh - var(--spacer));
  max-height: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meta {
  margin-top: auto;
}

.small {
  min-height: 0;
  padding-top: calc(var(--spacer) * 2);
  padding-bottom: 0;
}
