@import 'variables';

.screen {
    margin-top: $spacer * $line-height;

    > article {
        display: grid;
        grid-template-columns:
            [full-start] minmax($spacer, 1fr)
            [main-start] minmax(0, 38rem) [main-end]
            minmax($spacer, 1fr) [full-end];

        > * {
            grid-column: main;
        }
    }
}
