.screen {
  margin: calc(var(--spacer) * var(--line-height)) auto 0 auto;
  padding-left: 2%;
  padding-right: 2%;
}

@media (min-width: 55rem) {
  .screen {
    padding-left: 4%;
    padding-right: 4%;
    max-width: calc(var(--projectImageMaxWidth) + 8%);
  }
}

/* Single Project Page */
.screen > article {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--spacer), 1fr)
    [main-start] minmax(0, 38rem) [main-end]
    minmax(var(--spacer), 1fr) [full-end];
}

.screen > article > * {
  grid-column: main;
}
