@import 'variables';

.projectImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba($brand-main, 0.15),
        0 5px 16px rgba($brand-main, 0.15);

    @media (min-width: $projectImageMaxWidth) {
        max-width: $projectImageMaxWidth;
    }

    :global(.dark) & {
        box-shadow: 0 3px 5px rgba(darken($brand-main, 20%), 0.15),
            0 5px 16px rgba(darken($brand-main, 20%), 0.15);
    }

    img {
        display: block;
    }
}
