.frame {
  border: var(--stroke-width) solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: 0.2s ease-out;
  box-shadow: var(--box-shadow);
}

a:hover .frame,
a:focus .frame {
  border-color: var(--link-color);
}

.projectImage {
  composes: frame;
  display: block;
}

.projectImage:not(:only-of-type) {
  margin-bottom: calc(var(--spacer) * 3);
}

@media (min-width: 1200px) {
  .projectImage:not(:only-of-type) {
    margin-bottom: calc(var(--spacer) * 6);
  }
}
