@import 'variables';

.project__image {
    max-height: 100vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 5px rgba($brand-main, .2), 0 5px 16px rgba($brand-main, .2);

    @media (min-width: 1440px) {
        max-width: 1440px;
    }
}
