@import 'variables';

.availability {
    border-radius: $border-radius;
    color: $text-color-light;
    z-index: 2;
    padding: $spacer / 2;
    display: block;
    margin-top: auto;

    :global(.dark) & {
        color: $text-color-light--dark;
    }

    p {
        margin-bottom: 0;
    }

    a {
        border-bottom: 1px solid rgba($brand-cyan, .4);
    }
}

.available {
    background: rgba($brand-light, .8);
    color: $brand-main;
    position: fixed;
    bottom: $spacer;
    left: 50%;
    transform: translateX(-50%);

    :global(.dark) & {
        background: rgba($body-background-color--dark, .8);
        color: $brand-light;
    }
}
