@import 'variables';

.footer {
    margin-top: $spacer * 4;
    padding: $spacer * 2;
    text-align: center;
    color: $brand-grey-light;

    &,
    small {
        font-size: $font-size-mini;
    }

    .social {
        margin-top: 0;
        margin-bottom: $spacer;
    }
}
