@import 'variables';

.header {
    padding: $spacer / 2;
    min-height: calc(100vh - #{$spacer});
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .name,
    .social {
        width: 100%;
        text-align: center;
    }
}

.header__title,
.header__description {
    display: inline-block;
    margin-bottom: 0;
}

.header__title {
    font-size: $font-size-h3;
    margin-right: $spacer / 2;
    color: $brand-main;
}

.header__description {
    font-size: $font-size-large;
}

.social { // stylelint-disable-line
    margin-top: $spacer;
}

.social__link {
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
    background: $brand-grey-dimmed;
    padding: $spacer / 4;
    text-align: center;
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
    box-shadow: 0 1px 3px rgba($brand-main, .2), 0 5px 16px rgba($brand-main, .15);
    border-radius: .25rem;
}
