@import 'variables';

.header {
    padding: $spacer / 2;
}

.header__title,
.header__description {
    display: inline-block;
    margin-bottom: 0;
}

.header__title {
    font-size: $font-size-h3;
    margin-right: $spacer / 2;
    color: $brand-main;
}

.header__description {
    font-size: $font-size-large;
}
