.header {
  padding: 0.375rem 0.75rem; }

.header__title,
.header__description {
  display: inline-block; }

.header__title {
  margin-bottom: 0;
  font-size: 2rem;
  margin-right: 0.75rem; }

.header__description {
  margin-bottom: 0;
  font-size: 1.45rem; }
