@import 'variables';

.networks {
    margin-top: $spacer * $line-height;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 20rem;
}

.title {
    display: block;
    font-size: $font-size-mini;
    color: $brand-grey-light;
    opacity: 0;
    transform: translate3d(0, .5rem, 0);
    transition: .2s $easing;
}

.link {
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
    text-align: center;
    display: block;
    flex: 1 1 (100% / 5);

    &,
    svg {
        transition: .2s $easing;
    }

    svg {
        fill: $brand-grey-light;
    }

    &:hover,
    &:focus {
        svg {
            fill: $brand-cyan;
        }

        .title {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.small {
    .link {
        padding: $spacer / 4;
        margin-left: $spacer / 4;
        margin-right: $spacer / 4;
    }

    /* stylelint-disable no-descending-specificity */
    svg {
        width: .75rem;
        height: .75rem;
        opacity: .8;
    }
}
