@import 'variables';

.networks {
    margin-top: $spacer * $line-height;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    display: block;
    font-size: $font-size-mini;
    color: $brand-grey-light;
    opacity: 0;
    transform: translate3d(0, 0.5rem, 0);
    transition: 0.2s $easing;
}

.link {
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
    margin-bottom: $spacer / 2;
    text-align: center;
    display: block;
    flex: 0 1;
    min-width: 2.5rem;

    &,
    svg {
        transition: 0.2s $easing;
    }

    svg {
        fill: $brand-grey-light;
    }

    &:hover,
    &:focus {
        svg {
            fill: $brand-cyan;
        }

        .title {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.small {
    .link {
        padding: $spacer / 4;
        margin-left: $spacer / 4;
        margin-right: $spacer / 4;
        margin-bottom: $spacer / 4;
    }

    /* stylelint-disable no-descending-specificity */
    svg {
        width: $font-size-small;
        height: $font-size-small;
        opacity: 0.8;
    }
}
