@import 'variables';

.networks {
    margin-top: $spacer * $line-height;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 20rem;
}

.networks__title {
    display: block;
    font-size: $font-size-mini;
    color: $brand-grey-light;
    opacity: 0;
    transform: translate3d(0, .5rem, 0);
    transition: .2s $easing;
}

.networks__link {
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
    text-align: center;
    display: block;
    flex: 1 1 (100% / 5);

    &,
    .icon {
        transition: .2s $easing;
    }

    .icon {
        fill: $brand-grey-light;
    }

    &:hover,
    &:focus {
        .icon {
            fill: $brand-cyan;
        }

        .networks__title {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .networks--minimal & {
        padding: $spacer / 4;
        margin-left: $spacer / 4;
        margin-right: $spacer / 4;

        .icon {
            width: .85rem;
            height: .85rem;
            opacity: .8;
        }
    }
}
