@import 'variables';

.projectTechstack {
    ul {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacer / 2;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer / 4;
        text-align: center;
        background: rgba(#fff, .15);
        border-radius: $border-radius;
        border: .05rem solid transparent;
        color: $brand-grey-light;
        font-size: $font-size-small;

        :global(.dark) & {
            background: darken($body-background-color--dark, 1%);
            color: $text-color--dark;
        }
    }
}

.title {
    composes: metaTitle from '../../templates/Project.module.scss';
}
