@import 'variables';

.projectNav {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.item {
    display: inline-block;
    width: 40vw;
    margin-right: $spacer * 2;
}

.image {
    margin: 0;
    box-shadow: 0 3px 5px rgba($brand-main, .15),
        0 5px 16px rgba($brand-main, .15);

    :global(.dark) & {
        box-shadow: 0 3px 5px rgba(darken($brand-main, 20%), .15),
            0 5px 16px rgba(darken($brand-main, 20%), .15);
    }
}

.title {
    visibility: hidden;
    font-size: 0;
}

.link {
    display: block;
}
