@import 'variables';

.projectLinks {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -($spacer / 2);
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 calc(50% - #{$spacer / 2});
        margin-left: $spacer / 2;
        margin-bottom: $spacer / 2;
    }
}

.title {
    font-size: $font-size-h3;
    margin-bottom: $spacer * 1.5;

    span {
        display: block;
        margin-top: $spacer / 3;
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $brand-grey-light;
    }
}
