@import 'variables';

.projectLinks {
    ul {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacer / 2;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        display: block;
        width: 100%;
    }
}

.title {
    font-size: $font-size-h3;
    margin-bottom: $spacer * 1.5;

    span {
        display: block;
        margin-top: $spacer / 3;
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $brand-grey-light;
    }
}
