@import 'variables';

.project__techstack {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        display: inline-block;
        padding: 0;
        flex: 0 0 (100% / 3);
        margin-bottom: $spacer;
        font-size: $font-size-small;
    }
}
