@import 'variables';

.projectLinks {
    ul {
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: $spacer / 2.1;
    }

    a {
        display: block;
        width: 100%;
        text-transform: none;
        text-align: left;
    }
}

.title {
    composes: metaTitle from '../../templates/Project.module.scss';
}
