@import 'variables';

.social {
    margin-top: $spacer * 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social__link {
    margin-left: $spacer / 4;
    margin-right: $spacer / 4;
    padding: $spacer / 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;

    @media (min-width: 30rem) {
        margin-left: $spacer / 2;
        margin-right: $spacer / 2;
    }

    &,
    .icon {
        transition: .2s ease-out;
    }

    .icon {
        width: 1rem;
        height: 1rem;
        fill: $brand-grey-light;
        transition: .2s ease-out;
    }

    &:hover,
    &:focus {
        background: $brand-light;
        transform: translate3d(0, -.2rem, 0);
        box-shadow: 0 6px 10px rgba($brand-main, .1), 0 10px 25px rgba($brand-main, .1);

        .icon {
            fill: $brand-cyan;
        }
    }

    .social--minimal & {
        padding: $spacer / 3;
        margin-left: $spacer / 3;
        margin-right: $spacer / 3;

        .icon {
            width: .85rem;
            height: .85rem;
        }
    }
}
