@import 'variables';

.footer {
    padding: $spacer;
    padding-top: $spacer * 4;
    text-align: center;
    color: $text-color-light;

    &,
    small {
        font-size: $font-size-mini;
    }

    > aside {
        margin-top: 0;
        margin-bottom: $spacer * 2;
    }

    :global(.dark) & {
        color: $text-color-light--dark;
    }
}

.actions {
    a {
        display: inline-block;
        padding: 0 $spacer / 4;
        font-size: $font-size-small;
        margin-left: $spacer / 2;
        margin-right: $spacer / 2;
        margin-bottom: $spacer / 2;
        color: $text-color-light;

        :global(.dark) & {
            color: $text-color-light--dark;
        }
    }
}

.copyright {
    a {
        color: inherit;
    }
}
