@import 'variables';

.footer {
    padding: $spacer * 2;
    text-align: center;
    color: $text-color-light;

    &,
    small {
        font-size: $font-size-mini;
    }

    .networks {
        margin-top: 0;
        margin-bottom: $spacer;
    }

    .dark & {
        color: $text-color-light--dark;
    }
}

.footer__actions {
    width: 100%;
    margin-bottom: $spacer;

    a {
        display: inline-block;
        padding: 0 $spacer / 4;
        font-size: $font-size-small;
        margin-left: $spacer;
        color: $text-color-light;

        .dark & {
            color: $text-color-light--dark;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
