@import 'variables';

.footer {
    padding: $spacer * 2;
    text-align: center;
    color: $brand-grey-light;

    &,
    small {
        font-size: $font-size-mini;
    }

    .social {
        margin-top: 0;
        margin-bottom: $spacer;
    }
}

.footer__actions {
    width: 100%;
    margin-top: -($spacer / 2);
    margin-bottom: $spacer * 3;

    a {
        display: inline-block;
        padding: 0 $spacer / 4;
        font-size: $font-size-small;
        margin-left: $spacer;
        color: $brand-grey-light;

        &:first-child {
            margin-left: 0;
        }
    }
}
