@import 'variables';

.header {
    position: relative;
    padding: $spacer;
    height: calc(100vh - #{$spacer});
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.header__link {
    pointer-events: none;
    display: block;
    width: 100%;
}

.minimal {
    composes: header;
    height: auto;
    padding-top: $spacer * 2;
    padding-bottom: 0;

    .header__link {
        pointer-events: all;
        width: auto;
    }
}
