@import 'variables';

.header {
    position: relative;
    padding: $spacer;
    padding-top: 30vh;
    min-height: calc(100vh - #{$spacer});
    max-height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.link {
    pointer-events: none;
    display: block;
    width: 100%;
}

.minimal {
    min-height: 0;
    padding-top: $spacer * 2;
    padding-bottom: 0;

    .link {
        pointer-events: all;
        width: auto;
    }
}
