@import 'variables';

.header {
    position: relative;
    padding: $spacer;
    height: calc(100vh - #{$spacer});
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.header__logo {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: $brand-grey-light;
    margin-bottom: $spacer / 2;
    margin-left: auto;
    margin-right: auto;
}

.header__title,
.header__description {
    display: inline-block;
    margin-bottom: 0;
}

.header__title {
    font-size: $font-size-h3;
    margin-right: $spacer / 4;
    color: $brand-main;
    line-height: $line-height;
}

.header__description {
    font-size: $font-size-large;
    color: $brand-grey;

    span {
        opacity: .4;
    }
}

.header__name {
    pointer-events: none;
    display: block;
}

.header--minimal {
    height: auto;

    @media (min-width: 30rem) {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }

    .header__title,
    .header__description {
        color: $brand-grey-light;
    }

    .header__title {
        font-size: $font-size-h4;
        line-height: $line-height-headings;
    }

    .header__description {
        font-size: $font-size-base;
    }

    .header__logo {
        width: 1rem;
        height: 1rem;
        margin-bottom: $spacer / 3;
    }

    .header__name {
        pointer-events: all;

        &:hover,
        &:focus {
            .header__title,
            .header__description {
                transition: color .2s ease-out;
            }

            .header__title {
                color: $brand-main;
            }

            .header__description {
                color: $brand-grey;
            }
        }
    }
}
