@import 'variables';

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects__project {
    position: relative;
    background-color: $brand-grey-light;
    margin-bottom: $spacer * 4;

    @media (min-width: 85rem) {
        flex: 0 0 calc(50% - #{$spacer / 2});
        margin-bottom: $spacer;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background: transparent;
        transition: background .2s ease-out;
    }

    &:hover,
    &:focus {
        &::after {
            background: rgba($brand-cyan, .1);
        }
    }
}

.projects__project__title {
    visibility: hidden;
    font-size: 0;
    margin: 0;
}

.projects__project__image {
    margin: 0;
    display: block;
    box-shadow: 0 3px 5px rgba($brand-main, .2), 0 5px 16px rgba($brand-main, .2);
}
