.section {
    margin: calc(var(--spacer) * 3) auto 0 auto;
    max-width: calc(var(--projectImageMaxWidth) + var(--spacer) * 2);
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.sectionTitle {
    font-size: var(--font-size-h3);
    margin-bottom: calc(var(--spacer) * 2);
    text-align: center;
}

.repos {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--spacer) * 2);
}

@media (min-width: 18rem) {
    .repos {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
}
