@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: $font-size-root;
}

body {
    background: $brand-light;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $font-color-base;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol {
    margin: 0 0 $spacer;
}

// Headings
/////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    line-height: $line-height-headings;
    color: $color-headings;
    font-weight: $font-weight-headings;
    margin: 0 0 $spacer;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

// Links
/////////////////////////////////////

a {
    color: $brand-cyan;
    text-decoration: none;
    transition: color .2s ease-out;

    &:hover,
    &:focus {
        color: lighten($brand-cyan, 10%);
    }
}


// Media
/////////////////////////////////////

img,
video,
svg {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.screen {
    flex: 1;
    padding: $spacer;
}

.transition-group {
    position: relative;
}

.transition-container {
    position: relative;
    width: 100%;
}
