.footer {
  padding: var(--spacer);
  padding-top: calc(var(--spacer) * 4);
  text-align: center;
}

.footer,
.footer small {
  font-size: var(--font-size-mini);
}

.actions {
  margin-top: calc(var(--spacer) * 2);
  display: flex;
  gap: calc(var(--spacer) * 2);
  justify-content: center;
}

.actions a {
  display: block;
  font-size: var(--font-size-small);
  color: inherit;
}

.copyright,
.copyright a {
  color: var(--text-color-light);
}
