.sectionTitle {
  font-size: var(--font-size-h3);
  margin-top: calc(var(--spacer) * 6);
  margin-bottom: calc(var(--spacer) * 2);
  text-align: center;
}

.repos {
  composes: projects from '../Projects/index.module.css';
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
